<div class="news" id="<%= element_dom_id(element) %>" <%= element_preview_code(element) -%>>
    <div class="date">
        <%= render_essence_view_by_name(element, 'date') %>
    </div>
    <div class="news_headline">
        <%= render_essence_view_by_name(element, 'news_headline') %>
    </div>
    <div class="body">
        <%= render_essence_view_by_name(element, 'body') %>
    </div>
</div>
