<!DOCTYPE>
<html>
  <head>
    <%= render_meta_data(:title_prefix => "Alchemy CMS Demo", :title_seperator => "/") %>
    <%= stylesheet_link_tag "alchemy/standard_set.css", :media => :screen %>
    <%= stylesheet_link_tag "alchemy/standard_set.css", :media => :print %>
	</head>
	<body>
		<div id="page">
			<div id="language_select">
				<%= language_switches(:linkname => :code) %>
			</div>
			<div id="breadcrump">
        <%= render_breadcrumb :seperator => "<span>&nbsp;<&nbsp;</span>" %>
			</div>
      <div id="navigation">
        <%= render_navigation :all_sub_menues => true %>
      </div>
			<div id="content">
				<%= yield %>
			</div>
			<div class="footer">
				<%= render_elements(
          :from_page => 'layout_footer',
          :only => ['footnote']
				) %>
			</div>
		</div>
		<%= alchemy_preview_mode_code %>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26719210-1']);
			_gaq.push(['_gat._anonymizeIp']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
	</body>
</html>
  